.nav {
  display: flex;
  gap: 20px;
  padding: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #e0e0e0;
  background-color: #fff;
}

.link {
  padding: 8px 16px;
  border-radius: 4px;
  text-decoration: none;
  color: black;
  font-weight: 500;
}

.link:hover {
  color: orangered;
}

.link:global(.active) {
  color: white;
  background-color: orangered;
}
